@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --doc-height: 100%;
}

html,
body,
#root {
  height: 100vh;
  height: var(--doc-height);
  overscroll-behavior: contain;
  touch-action: none;
}

.btn-action {
  @apply border dark:border-white border-black text-black dark:text-white rounded h-[36px] w-[36px] min-h-[36px] min-w-[36px] sm:h-[42px] sm:w-[42px] sm:min-h-[42px] sm:min-w-[42px] inline-flex items-center justify-center text-lg sm:text-2xl dark:bg-black bg-white  bg-opacity-70 hover:bg-opacity-100 focus:bg-opacity-100 disabled:opacity-50 disabled:cursor-not-allowed transition-all;
}
.stage-object {
  position: relative;
  margin: 0 auto;
}
.konv-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.top-left-menu {
  position: absolute;
  top: 0;
  left: 80px;
}
.horizontal-slider {
  width: 100%;
  height: 25px;
}

.horizontal-slider .track {
  top: 10px;
  bottom: 10px;
  background: #f1f1f1;
  border-radius: 10px;
}

.horizontal-slider .track-1 {
  background: gold;
}
.horizontal-slider .thumb {
  top: 2px;
  width: 20px;
  height: 20px;
  background: #369;
  border-radius: 50%;
  cursor: grab;
}
.slider-container {
  position: relative;
}
.current-slide {
  background: green;
}
.current-playing-slider .track {
  background: red;
}
.recording {
  background: gold
}
.hidden {
  display: none;
}
.current-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: red;
}
.konvajs-content {
  margin: 0 auto;
  max-height: 100%;
  height: 100%;
}
.konvajs-content canvas {
  max-height: 100%;
  height: 100%;
}